= simple_form_for(@author) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :bio
    = f.input :twitter

  .form-actions
    = f.button :submit
