= simple_form_for(@book) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :isbn
    = f.input :description

    =f.label 'Author'
    = f.collection_select :author_id, Author.all, :id, :name, :prompt => "Select Author"

  .form-actions
    = f.button :submit
